# c언어 파일은 모두 무시해라!!!
# 확장자가 .c인 모든 파일을 Git 추적 대상에서 제외한다.
*.c

# 컴파일 할 때 마다 바뀌는 exe파일을 무시하기 위함
# 컴파일 과정에서 생성되는 실행 파일을 무시한다.
*.exe

# vscode설정 파일 충돌 방지
# Visual Studio Code의 개인 환경 설정 디렉터리를 무시한다.
.vscode/
